/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.7.3
 * @description Fluent theme for Discord (🔄 Auto-updating)
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);
/**
 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://images-ext-1.discordapp.net/external/fhgirx73jtZfWyBHwXtz1wEWvuVm-U6bSO2Evxog0As/https/r2.guns.lol/59e27cd7-6898-4d3f-b1ab-16ebab287b17.png);
  --fluent-acrylic-background-blur: 104px;
  --fluent-acrylic-background-dimness: 75%;
  --fluent-acrylic-background-saturate: 120%;
  --fluent-guilds-icon-size: 24px;
}

/**
 * End user options
*/
